<% layout('layouts/boilerplate') %>
<!-- <div class="row"> -->
    <!-- <div class="col-6 offset-3"> -->
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"> <%= error.message %> </h4>
            <p role="alert" class="d-flex" > <%= error.stack %></p>
        </div>
    <!-- </div> -->
<!-- </div> -->

