<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Campground </title>
</head>

<body>
    <h1>All Campground</h1>

    <div>
        <a href="/campgrounds/new"> Add Campground</a>
    </div>

    <ul>
        <% for (let campground of campgrounds) {%>
            <li>
                <a href="campgrounds/<%= campground._id %>">
                    <!-- why href = 'campgrounds/____' ???
                    BECAUEE OF THIS >>> app.get('/campgrounds/:id' , async( req , res ) => {
                    HREF DOS A GET REQUEST TO campground/id ... and it will be handeled by express rout    -->
                    <%= campground.title    %>
                </a>
            </li>
        <% }%>
    </ul>
</body>

</html>